 <div class="container">

      <div id="login">

        <h2><span class="fontawesome-lock"></span>Sign In</h2>

        <form action="#" method="POST">

          <fieldset>

            <p><label for="email">E-mail address</label></p>
            <p><input type="email" id="email" placeholder="mail@address.com"></p>

            <p><label for="password">Password</label></p>
            <p><input type="password" id="password" placeholder="password"></p>

            <p><input type="submit" value="Sign In"></p>

          </fieldset>

        </form>

      </div> <!-- end login -->

</div>