<div class = "row">
  <div class="col-md-6">
        <h2>
        {{ consultant.Prenom }} {{ consultant.Nom }}
        </h2>

        <div>
            
            <div>Projet: {{ consultant.Projets[0]}} </div>
            <div>Competence: {{ consultant.Competences[0] }} </div>
            
        </div>
  

    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-2">
        <a style="margin-top:20px" class="btn btn-default" href="#/">Back</a>
    </div>
    <div class="col-md-1">
    </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="contact.email">projets: <a ng-href="mailto:{{ contact.email }}" target="_blank">{{ consultant.email }}</a></p>
    <p ng-if="contact.phone.mobile">phone (m): {{ consultant.phone.mobile }} </p>
    <p ng-if="contact.phone.work">phone (w): {{ consultant.phone.work }} </p>
    <p ng-if="contact.address"> address: {{ consultant.address }} </p>
    <p>
      <button style="margin-top:20px" class="btn btn-warning" ng-click="toggleEdit()">Modifier</button>
      
      <a href="#/"><button style="margin-top:20px" class="btn btn-danger" ng-click="deleteConsultant(consultant._id)">Supprimer</button></a>
    </p>
  </div>
</div>
<!-- Consultant form -->
<div ng-include="contactFormUrl">
</div>