<div class="row" ng-hide="consultant._id">
  <div class="col-md-6">
      <h2>Nouveau Consultant</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Employé ID (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="consultant.id" required> 
    </p>
    <p>
      <label>Prenom (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="consultant.prenom" required> 
    </p>
    <p>
      <label>Nom (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="consultant.nom" required> 
    </p>
    <p>
      <label>Projets</label> 
      <input id="name" class="form-control" type="text" ng-model="consultant.projet" required> 
    </p>
    <p>
      <label>Competences</label> 
      <input id="name" class="form-control" type="text" ng-model="consultant.competence"> 
    </p>
    
    <p>
      <button style="margin-top:20px" class="btn btn-primary" ng-click="saveConsultant(consultant)">Sauvegarde</button>
      <!--<button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>-->
      <a style="margin-top:20px" class="btn btn-default" href="#/">Back</a>
    </p>
  </div>
</div>