<div class = "row">
  <div class="col-md-6">
    <h2>
      Consultants
    </h2>
  </div>
  </br>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a class="btn btn-default" href="#/new/consultant">New</a>
    <a  class="btn btn-warning" href="#/uploadFile">UploadFile</a>
  </div>
  <div class="col-md-1">
      
  </div>
</div>
<div class="container">
 <!-- <table class="table table-hover">
    <tbody>
      <tr ng-repeat="consultant in consultants | orderBy:'Prenom'" style="cursor:pointer">
        <td>
          <a ng-href="#/consultants/{{consultant._id}}">{{ consultant.Prenom }} {{ consultant.Nom }}</a>
        </td>
      </tr>
    </tbody>
    <button style="margin-top:20px" class="btn btn-warning" ng-click="toggleEdit()">UploadFile2</button>
  </table> -->

<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search" ng-model="searchCompetencies">
      </div>      
    </div>
  </form>

  <table ng-table="vm.tableParams" class="table table-hover" show-filter="true">
		<thead>
			<tr>
				<th><a href="#/" ng-click="sortType = 'numero'; sortReverse = !sortReverse"> Numero Employe 
              <span ng-show="sortType == 'numero' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'numero' && sortReverse" class="fa fa-caret-up"></span>
            </a> 
        </th>
				<th>
          <a href="#/" ng-click="sortType = 'prenom'; sortReverse = !sortReverse"> Prenom 
              <span ng-show="sortType == 'prenom' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'prenom' && sortReverse" class="fa fa-caret-up"></span>
          </a> 
        </th>
				<th>
          <a href="#/" ng-click="sortType = 'nom'; sortReverse = !sortReverse"> Nom 
              <span ng-show="sortType == 'nom' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'nomname' && sortReverse" class="fa fa-caret-up"></span>
          </a> 
        </th>
				<th>
          <a href="#/" ng-click="sortType = 'competences'; sortReverse = !sortReverse"> Competences 
              <span ng-show="sortType == 'competences' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'competences' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
				<th>
          <a href="#/" ng-click="sortType = 'projets'; sortReverse = !sortReverse"> Projets 
              <span ng-show="sortType == 'projets' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'projets' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
			</tr>
		</thead>
		<tbody>
     <!-- <tr ng-repeat="consultant in model.consultants" ng-include="getTemplate(contact)">   | orderBy:sortType:sortReverse | filter:searchCompetencies"-->
			<tr ng-repeat="consultant in consultants | orderBy:sortType:sortReverse | filter:searchCompetencies" style="cursor:pointer">
				<td>{{ consultant._id }}</td>
				<td>{{ consultant.Prenom }}</td>
				<td>{{ consultant.Nom }}</td>
				<td>{{ consultant.Competences }}</td>
				<td ng-repeat="p in consultant.Projets" >
            <p>{{p}}</p> </br>
        </td>
        <td> <a ng-href="#/consultants/{{consultant._id}}" class="btn btn-success">Afficher</a> </td>
        <td> <a href="#/"><button class="btn btn-danger" ng-click="deleteConsultant(consultant._id)">Supprimer</button></a> </td>
        </tr>
		</tbody>
	</table>

</div>