<div class="row" ng-hide="consultant._id">
  <div class="col-md-6">
      <h2>Modifier Consultant</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Prenom (required)</label> 
      <input id="name" class="form-control" type="text" required ng-model="consultant.Prenom" required> 
    </p>
    <p>
      <label>Nom (required)</label> 
      <input id="name" class="form-control" type="text" required ng-model="consultant.Nom" required> 
    </p>
    <p>
      <label>Projet</label> 
      <input id="name" class="form-control" type="text" ng-model="consultant.Projets"> 
    </p>
    <p>
      <label>Competences</label> 
      <input id="name" class="form-control" type="text" ng-model="consultant.Competences"> 
    </p>
    
    
    <p>
      <button class="btn btn-warning" ng-click="saveConsultant(consultant)">Sauvegarde</button>
      <button class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>