<div class = "row">
  <div class="col-md-6">
        <h2>
          {{ consultant.Prenom }} {{ consultant.Nom }}
        </h2>

        <div ng-hide="editMode" class="container">
            <h4 style="color:blue"><u>Projets:</u></h4>
            <div ng-repeat="p in consultant.Projets">
                {{p}} 
            </div>

            <h4 style="color:blue"><u>Competences:</u></h4>
            <div ng-repeat="c in consultant.Competences">
                {{c}} 
            </div>
            <div >
              <div>
                <p>
                  <button style="margin-top:20px" class="btn btn-warning" ng-click="toggleEdit()">Modifier</button>
                  <a href="#/"><button style="margin-top:20px" class="btn btn-danger" ng-click="deleteConsultant(consultant._id)">Supprimer</button></a>
                </p>
              </div>
            </div>
        </div>
  

    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-2">
        <a style="margin-top:20px" class="btn btn-default" href="#/">Back</a>
    </div>
    <div class="col-md-1">
    </div>
</div>
<!-- Consultant form -->
<div ng-include="consultantFormUrl">
</div>