<div class="row" ng-hide="consultant._id">
  <div class="col-md-6">
      <h2>Nouveau Consultant</h2>
  </div>
</div>

<div class="container" style="border:2px ;padding:25px;margin: 25px;">
    <div class="row">  
    
        <div class="col-sm-6">
            <!-- FORM ============ -->
        
            <form name="userForm" ng-submit="saveConsultant(consultant)" novalidate>

                 <!-- Employe ID -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.empId.$invalid && !userForm.empId.$pristine }">
                    <label>Employé ID</label>
                    <input type="text" name="empId" class="form-control" ng-model="consultant.id" ng-minlength="5" ng-maxlength="5" required>
                    <p ng-show="userForm.empId.$invalid && !userForm.empId.$pristine" class="help-block">Employé ID requis.</p>
                    <p ng-show="userForm.empId.$error.minlength" class="help-block">5 digits.</p>
                    <p ng-show="userForm.empId.$error.maxlength" class="help-block">5 digits.</p>
                </div>

                <!-- prenom -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.prenom.$invalid && !userForm.prenom.$pristine }">
                    <label>Prenom</label>
                    <input type="text" name="prenom" class="form-control" ng-model="consultant.prenom" ng-minlength="2" ng-maxlength="25" required>
                    <p ng-show="userForm.prenom.$invalid && !userForm.prenom.$pristine" class="help-block">Prenom requis.</p>
                    <p ng-show="userForm.prenom.$error.minlength" class="help-block">Nom trop court min 2 caracteres</p>
                    <p ng-show="userForm.prenom.$error.maxlength" class="help-block">Nom trop long max 25 carateres.</p>
                </div>

                <!-- nom -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.nom.$invalid && !userForm.nom.$pristine }">
                    <label>Nom</label>
                    <input type="text" name="nom" class="form-control" ng-model="consultant.nom" ng-minlength="2" ng-maxlength="25" required>
                    <p ng-show="userForm.nom.$invalid && !userForm.nom.$pristine" class="help-block">Nom requis.</p>
                    <p ng-show="userForm.nom.$error.minlength" class="help-block">Nom trop court min 2 caracteres.</p>
                    <p ng-show="userForm.nom.$error.maxlength" class="help-block">Nom trop long max 250 carateres.</p>
                </div>
                <!-- PROJETS -->
                <div class="form-group" >
                    <label>Projets</label> 
                    <input type="text" name="projet" class="form-control" ng-model="consultant.projet">   
                </div>
                <!-- COMPETENCES -->
                <div class="form-group" >
                    <label>Competences</label>
                    <input type="text" name="competence" class="form-control" ng-model="consultant.competence">
                </div>
        
                <button type="submit" class="btn btn-danger" ng-disabled="userForm.$invalid">Sauvegarder</button>
                <a class="btn btn-default" href="#/">Back</a>
            </form>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
</div>